<template>
  <button
    :type="type"
    :disabled="disableButton"
    :class="buttonStyle"
    @click="callback($event)"
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    type: {
      type: String,
      required: false,
      default: 'button',
    },
    name: {
      type: String,
      required: false,
      default: 'Click',
    },
    buttonStyle: {
      type: String,
      required: false,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    callback(e) {
      this.$emit('click', e)
    },
  },
}
</script>