<template>
  <footer class="fixed inset-x-0 bottom-0 z-50">
    <div
      class="
        py-6
        rounded-t-xl
        shadow
        border border-solid border-gray-150
        text-center
        bg-white
      "
    >
      <Button
        button-style="
            rounded-xl
            px-20
            py-3
            text-center
            not-italic
            normal-nums
            font-semibold
            text-sm
            leading-4
            font-sans
            tracking-wider
            text-green-150
            bg-gradient-to-r from-blue-450 to-blue-650
        "
        >Kostenlos Registrieren</Button
      >
    </div>
  </footer>
</template>