<template>
  <header class="fixed top-0 left-0 right-0 z-50">
    <div class="p-0.5 bg-gradient-to-r from-blue-450 to-blue-650"></div>
    <div class="pt-7 pb-6 rounded-b-xl shadow-md bg-white">
      <NuxtLink to="/login">
        <h6
          class="
            not-italic
            normal-nums
            font-semibold
            text-sm
            leading-4
            font-sans
            tracking-wider
            text-blue-450 text-right
            pr-4
          "
        >
          Login
        </h6>
      </NuxtLink>
    </div>
  </header>
</template>