<template>
  <div class="-mt-16">
    <div
      class="
        bg-blue-50
        rounded-full
        h-80
        w-80
        relative
        z-20
        -mt-20
        -left-20
        overflow-visible
      "
    >
      <div class="absolute top-7 left-1/2 right-0">
        <div class="flex justify-center">
          <div>
            <h1
              class="
                not-italic
                normal-nums
                font-normal
                text-9xl
                leading-12
                tracking-normal
                text-gray-550
              "
            >
              3.
            </h1>
          </div>
          <div class="self-center">
            <h6
              class="
                w-36
                text-left
                not-italic
                normal-nums
                font-normal
                text-base
                leading-5
                tracking-wide
                text-gray-550
              "
            >
              Wähle deinen<br/>neuen Mitarbeiter aus
            </h6>
          </div>
        </div>
        <div class="flex justify-end pr-2 w-64">
          <img src="arbeitgeber_3.svg" alt="first_image" />
        </div>
      </div>
    </div>
  </div>
</template>
