<template>
  <div class="text-center">
    <div class="mt-16 bg-gradient-to-t from-blue-150 to-green-150">
      <div class="pt-5">
        <h1
          class="
            not-italic
            normal-nums
            font-medium
            text-5xl
            leading-11
            font-sans
            px-5
            text-gray-750
          "
        >
          Deine Job website
        </h1>
      </div>
      <div class="flex justify-center">
        <img src="undraw_agreement_aajr.svg" alt="agreement_image" />
      </div>
      <div style="height: 150px; overflow: hidden">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M-18.34,116.95 C162.81,156.42 330.41,-30.08 529.06,127.80 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: white"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</template>