<template>
  <div class="relative">
    <div
      class="
        bg-blue-50
        rounded-full
        h-52
        w-52
        relative
        z-20
        -left-10
        overflow-visible
        -bottom-16
      "
    >
      <div class="absolute -top-24 left-3/4 right-0">
        <div class="flex justify-start w-60 h-36">
          <img src="arbeitnehmer_1.svg" alt="first_image" />
        </div>
        <div class="flex justify-center">
          <div>
            <h1
              class="
                pl-5
                not-italic
                normal-nums
                font-normal
                text-9xl
                leading-12
                tracking-normal
                text-gray-550
              "
            >
              1.
            </h1>
          </div>
          <div class="self-end pb-3">
            <h6
              class="
                text-left
                not-italic
                normal-nums
                font-normal
                text-base
                leading-5
                tracking-wide
                text-gray-550
                whitespace-nowrap
              "
            >
              Erstellen dein <br /> Unternemehmensprofil
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
