<template>
  <div class="font-sans pt-7 pb-8 text-center">
    <!-- Sliding tabs -->
    <div
      class="
        h-10
        flex
        border border-indigo-250
        rounded-xl
        overflow-hidden
        font-sans
      "
    >
      <a
        class="
          w-1/2
          flex
          justify-center
          items-center
          hover:bg-green-100
          active:bg-blue-350
          transition
          duration-100
          not-italic
          normal-nums
          font-bold
          text-sm
          leading-4
          focus:text-green-150
          text-blue-450
          border-r border-indigo-250
        "
        href="javascript:void(0)"
        @click.prevent="selectedPage = 0"
      >
        Arbeitnehmer
      </a>
      <a
        class="
          w-1/2
          flex
          justify-center
          items-center
          hover:bg-green-100
          active:bg-blue-350
          transition
          duration-100
          not-italic
          normal-nums
          font-bold
          text-sm
          leading-4
          focus:text-green-150
          text-blue-450
          border-r border-indigo-250
        "
        href="javascript:void(0)"
        @click.prevent="selectedPage = 1"
      >
        Arbeitgeber
      </a>
      <a
        class="
          w-1/2
          flex
          justify-center
          items-center
          hover:bg-green-100
          active:bg-blue-350
          transition
          duration-100
          not-italic
          normal-nums
          font-bold
          text-sm
          leading-4
          focus:text-green-150
          text-blue-450
        "
        href="javascript:void(0)"
        @click.prevent="selectedPage = 2"
      >
        Temporärbüro
      </a>
    </div>

    <!-- Content -->
    <div v-if="selectedPage === 0">
      <SlidingTabTextItem0 />
    </div>
    <!-- first one -->
    <div v-if="selectedPage === 1">
      <SlidingTabTextItem1 />
    </div>
    <!-- first one -->
    <div v-if="selectedPage === 2">
      <SlidingTabTextItem2 />
    </div>

    <!-- first one -->
    <div v-if="selectedPage === 0">
      <SlidingTabFirstMediaItemIndex0 />
    </div>
    <!-- first one -->
    <div v-if="selectedPage === 1">
      <SlidingTabFirstMediaItemIndex1 />
    </div>
    <!-- first one -->
    <div v-if="selectedPage === 2">
      <SlidingTabFirstMediaItemIndex2 />
    </div>
    <!-- second one -->
    <div v-if="selectedPage === 0">
      <SlidingTabSecondMediaItemIndex0 />
    </div>

    <!-- second one -->
    <div v-if="selectedPage === 1">
      <SlidingTabSecondMediaItemIndex1 />
    </div>

    <div v-if="selectedPage === 2">
      <SlidingTabSecondMediaItemIndex2 />
    </div>

    <!-- third one -->
    <div v-if="selectedPage === 0">
      <SlidingTabThirdMediaItemIndex0 />
    </div>

    <!-- third one -->
    <div v-if="selectedPage === 1">
      <SlidingTabThirdMediaItemIndex1 />
    </div>

    <div v-if="selectedPage === 2">
      <SlidingTabThirdMediaItemIndex2 />
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    selectedPage: 0,
  }),
  methods: {
    onClickBtn() {},
  },
}
</script>
