<template>
  <div class="relative z-10">
    <!-- div shape -->
    <div style="height: 75px; overflow: hidden">
      <svg
        viewBox="0 0 500 150"
        preserveAspectRatio="none"
        style="height: 100%; width: 100%"
      >
        <path
          d="M-2.54,50.83 C333.80,311.36 349.20,-49.98 522.29,84.38 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #e6fffa"
        ></path>
      </svg>
    </div>

    <div class="bg-gradient-to-t from-blue-150 to-green-150">
      <div>
        <div class="flex justify-center">
          <div>
            <h1
              class="
                not-italic
                normal-nums
                font-normal
                text-9xl
                leading-12
                tracking-normal
                text-gray-550
              "
            >
              2.
            </h1>
          </div>
          <div class="self-end pl-5">
            <h6
              class="
                pb-3
                not-italic
                normal-nums
                font-normal
                text-base
                leading-5
                tracking-wide
                text-gray-550
              "
            >
              Erstellen ein Jobinserat
            </h6>
          </div>
        </div>
        <div class="flex justify-center">
          <img src="arbeitgeber_2.svg" alt="second_image" />
        </div>
      </div>
    </div>
    <!-- div shape -->
    <div style="height: 75px; overflow: hidden">
      <svg
        viewBox="0 0 500 150"
        preserveAspectRatio="none"
        style="height: 100%; width: 100%"
      >
        <path
          d="M-0.84,43.92 C154.34,-20.20 216.98,117.94 499.72,-0.47 L505.36,-14.28 L-1.97,-8.36 Z"
          style="stroke: none; fill: #ebf4ff"
        ></path>
      </svg>
    </div>
  </div>
</template>
