<template>
  <div class="text-center px-20 pt-5 pb-12">
    <h3
      class="
        not-italic
        normal-nums
        font-medium
        text-xl
        leading-6
        tracking-normal
        text-gray-650
      "
    >
      Drei einfache Schritte<br /> zu deinem neuen Job
    </h3>
  </div>
</template>
